import { Button } from "@/components/Elements";
import { yupResolver } from "@hookform/resolvers/yup";
import { Box } from "@mui/material";
import { useEffect } from "react";
import { SubmitHandler, useForm } from "react-hook-form";
import { v4 } from "uuid";
import * as yup from "yup";

// TODO: add type for form
export type FormValues = {
  email: string;
  password: string;
};

// TODO: write schema (validations) for FormType
const schema: yup.ObjectSchema<FormValues> = yup.object().shape({
  email: yup.string().email().required(),
  password: yup
    .string()
    .required()
    .min(6, "Password should have at least 6 characters"),
});

// TODO: define default values
const useFormWithValidation = () => {
  const form = useForm<FormValues>({
    defaultValues: {
      email: "",
      password: "",
    },
    resolver: yupResolver(schema),
    mode: "onBlur",
  });

  return form;
};

const {{ Name }}Form = (
  onSubmit: SubmitHandler<FormValues>,
  isApiRequestPending: boolean
) => {
  const {
    register,
    handleSubmit,
    formState,
    reset,
    control: _hookFormControl,
  } = useFormWithValidation();
  const { errors, isDirty, isValid, isSubmitSuccessful } = formState;
  const formId = v4();

  useEffect(() => {
    if (isSubmitSuccessful) {
      reset();
    }
  }, [isSubmitSuccessful, reset]);

  const SubmitButton = () => (
    <Button
      type="submit"
      variant="contained"
      fullWidth
      disabled={!isDirty || !isValid || isApiRequestPending}
      form={formId}
      isLoading={isApiRequestPending}
    >
      Submit
    </Button>
  );

  const Form = () => (
    <form id={formId} onSubmit={handleSubmit(onSubmit)}>
      <Box>
        {/* TODO: ADD FORM ELEMENTS HERE.......................... */}

        <SubmitButton />
      </Box>
    </form>
  );

  return { SubmitButton, Form };
};

type Props = {
  onSuccess: () => void;
};

// Keep the code in this component short 
// - it should serve as top level for smaller components
export const {{ Name }}: React.FC<Props> = ({ onSuccess }) => {
  const api = use{{ Name }}();
  const isApiRequestPending = api.isPending;

  const onSubmit: SubmitHandler<FormValues> = async (data: FormValues) => {
    // TODO: HANLDE FORM SUBMISSION HERE....................
    throw new Error(`onSubmit Not implemented, data: ${JSON.stringify(data)}`);
    onSuccess();
  };

  const { Form } = {{ Name }}Form(onSubmit, isApiRequestPending);

  return (
    <>
      <Form />
    </>
  );
};
